body{
    background: url(../images/imgs_learning/bg.png) no-repeat;
    background-size:100%;
    margin:0 auto;
    text-align: center;
    font-family: SimSun-ExtB;
    color: #91908c;
    font-size: 16pt;
}



p{
    font-family: SimSun-ExtB;

    font-size: 16pt;
}


.container{



}


.box{
    width: 1024px;
    height: 716px;
    justify-content: center;
    align-items: center;





}
.box img{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-top: 400px;
    margin-left: 600px;

}
.footer{
    height:52px;
    display: -webkit-flex;



}